body {
  background-color: #FFC300;
  font-family: Trebuchet MS, Arial, sans-serif;
  line-height: 1;
}

img {
  border-radius: 50%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.box {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.btn-secondary:hover, .btn-primary:hover {
  transform: scale(0.8);
}

.btn-primary {
  background-color: #001c47;
  color: white;
}

.btn-secondary, .btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 12px 30px;
  margin: 5px;
}

.btn-secondary {
  background-color: #a2d0fc;
  color: black;
}

.banner {
  margin: 15px;
}

.hero nav {
  color: white;
  display: flex;
}

.hero nav h1 {
  display: inline-block;
}

.second-h1 {
  font-size: 60px;
}

.hero nav ul {
  display: flex;
}

.hero nav li {
  display: inline-block;
  flex-grow: 1;
  margin: 20px;
}

.hero nav li a {
  color: white;
}

.hero {
  background-color: #000814;
  color: white;
  height: 90vh;
}

.hero .hero-content {
  display: flex;
  align-items: center;
}

.hero .hero-content img {
  max-width: 50%;
}

.p1 {
  padding: 10px;
  font-size: 20px;
}



