@use 'utilities';
@use 'btnConfig';
@use 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  list-style-type: none;
}

body {
  background-color: config.$primary-color;
  font-family: config.$font-stack;
  line-height: 1;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img {
  border-radius: 50%;
  width: 600px;
  height: 600px;
}

a {
  text-decoration: none;
}

li {
  padding: 15px;
  display: flex;
}

//.hero {
  .hero {
    nav {
      & {
        @include utilities.set-bg(config.$primary-color);
        display: flex;
      }
      h1 {
        display: inline-block;
        flex-grow: 1;
      }
      ul {
        display: flex;
        flex-grow: 1;
      }
      li {
        & {
          display: inline-block;
          flex-grow: 1;
        }
        a {
          color: white;
        }
      }
    }
  }

$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
